{% extends "base.html" %} {% block content %}
    <div class="container">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <p>{{ post.created_at }}</p>
        <p>{{ post.updated_at }}</p>
        <p>By {{ post.author }}</p>
    </div>
    <button type="button" class="btn btn-secondary"><a href={% url 'blog:post_update' post.pk %}> 글 수정하기</a></button>
    <button type="button" class="btn btn-danger"><a href={% url 'blog:post_delete' post.pk %}> 글 삭제하기</a></button>
{% endblock %}

```
