{% extends "base.html" %} {% block content %}
<div class="container">
  {% if posts %}
  <ul class="list">
    {% for post in posts %}
    <li class="item">
      <h3>
        <a href="{% url 'blog:post_details' post.id %}">{{ post.title }}</a>
      </h3>
      <div class="content">내용 : {{ post.content | truncatewords:20 }}</div>
      <div class="info">
        <div class="created-date">
          <span>생성날짜 | </span>{{ post.created_at }}
        </div>
        <div class="updated-date">
          <span>수정날짜 | </span>{{ post.updated_at }}
        </div>
        <div class="author"><span>작성자 | </span>{{ post.author }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <h1 class="not-found-post">게시글이 없습니다.</h1>
  {% endif %}
</div>
{% endblock %}
