{% extends 'base.html' %} {% block content %}
<form action="{%url 'blog:post_update '%}" method="post">
  {% csrf_token %}
  <h2 class="post_create">글 수정하기</h2>
  <div class="container">
    <div class="form-group">
      <label for="title"><h5>제목</h5></label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="제목을 입력하세요"
      />
    </div>
    <div class="form-group">
      <label for="content"><h5>내용</h5></label>
      <textarea
        class="form-control"
        id="content"
        name="content"
        rows="7"
        placeholder="내용을 입력하세요"
      ></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-lg">
      Create New Post
    </button>
  </div>
</form>
{% endblock %}
